.scroll-top {
  display: inline-block;
  background-color: $accent-orange;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;

  font-family: FontAwesome;
  font-size: 1.5em;
  line-height: 50px;
  color: $primary-color;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;

  &:hover {
    background-color: $hover-button-color;
  }

  &:active {
    background-color: $active-button-color;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
