.advantage {
  margin-bottom: 155px;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
  }

  &__image {
    float: left;
    padding-right: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 320px;
    max-width: 100%;

    &:nth-child(2) {
      width: 255px;
    }

    &:not(:last-child) {
      margin-right: 115px;
    }

    .shell {
      flex-grow: 1;
      @include flex-center;
      margin-bottom: 23px;
    }

    &-title {
      font-size: 20px;
      font-family: Roboto-Bold, sans-serif;
      color: #fffffe;
      line-height: 1.25;
    }

    &-text {
      font-size: 16px;
      font-family: Roboto-Regular, sans-serif;
      color: #fffffe;
      line-height: 1.563;
    }
  }
}