.order__input:focus,
.callback__form input:focus,
.callback__form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #e5c36a;
  border-color: #e5c36a;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.order,
.callback {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1000;
  overflow-y: auto;

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(24, 25, 26);
    margin: 150px auto 0;
    padding: 50px 0;
    max-width: 502px;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      width: 22px;
      z-index: 1;
      border-bottom: 1px solid #ffde46ff;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      z-index: 1;
      border-bottom: 1px solid #ffde46ff;
      bottom: 22px;
      right: 0;
    }

    &--success {
      display: none;
      max-width: 1110px;
      padding: 0 30px;
      height: 360px;
      position: absolute;
      left: 50%;
      top: 100px;
      transform: translateX(-50%);
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-family: Roboto-Regular, sans-serif;
      color: $primary-color;
      line-height: 1.167;
      z-index: 1001;

      span {
        font-style: italic;
        color: $accent-color;
        font-size: 40px;
        line-height: 1.05;
        margin-bottom: 10px;
      }
      p {
        text-align: center;
        margin-top: 30px;
      }
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.05;
    margin-bottom: 50px;
    text-align: center;
  }

  &__subtitle,
  &__list {
    padding-left: 60px;
    padding-right: 60px;
    text-align: start;
  }

  &__subtitle {
    font-size: 18px;
    font-family: Roboto-Regular, sans-serif;
    color: $primary-color;
    line-height: 1.167;
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 15px;
      font-family: Roboto-Bold, sans-serif;
      color: $primary-color;
      line-height: 1.4;
    }
  }

  #start {
    width: 47%;
    margin-right: 15px;
  }

  #finish {
    width: 47%;
  }

  &__input {
    width: 380px;
    font-size: 15px;
    font-family: Roboto-Regular, sans-serif;
    color: #beaf80;
    line-height: 1.4;
    background-color: inherit;
    border: 1px solid #464646;
    padding: 12px 15px;

    &::placeholder {
      font-size: 15px;
      font-family: Roboto-Regular, sans-serif;
      color: #c4bfba;
      line-height: 1.4;
    }

    &-1 {
      margin-bottom: 15px;
    }

    option {
      font-size: 15px;
      font-family: Roboto-Regular, sans-serif;
      color: $primary-color;
      line-height: 1.998;
      border-width: 1px;
      border-color: #777575;
      border-style: solid;
      background-color: rgb(24, 25, 26);
      padding: 15px;
    }
  }

  &__notice {
    text-align: center;
    width: 351px;
    font-size: 13px;
    font-family: Roboto-Regular, sans-serif;
    color: #c4bfba;
    text-decoration: underline;
    line-height: 1.616;
    margin: 0 auto;
  }
}

.callback {
  height: 128vh;
}

.callback__btn,
.form__btn,
.order__btn {
  margin: 0 auto 15px;
  background-color: $accent-yellow;
  width: 273px;
  height: 42px;
  font-size: 15px;
  font-family: Roboto-Bold, sans-serif;
  color: #212020;
  line-height: 1.4;
  border-radius: 0;
  cursor: none;
}

.order__btn:hover {
  background-color: #eee1a6;
}

.error-input {
  color: #ff0000;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 12px;
  display: none;

  &:not(:last-child) {
    margin-top: -15px;
  }
}
