.description {
  padding-bottom: 90px;

  &__title {
    margin-bottom: 60px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &-right {
      justify-content: flex-end;
    }
  }

  &__info {
    max-width: 495px;

    &:not(:last-child) {
      margin-bottom: 117px;
    }

    .description__subtitle {
      position: relative;
      font-size: 20px;
      font-family: Roboto-Bold, sans-serif;
      color: $primary-color;
      font-weight: bold;
      line-height: 1.5;
      margin-left: 80px;
      margin-bottom: 55px;

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: -80px;
        width: 50px;
        z-index: 1;
        border-bottom: 1px solid #ffde46ff;
      }
    }

    .description__text {
      font-size: 16px;
      font-family: Roboto-Regular, sans-serif;
      color: $primary-color;
      line-height: 1.5;
      max-width: 488px;
      margin-left: 80px;

      span {
        color: $accent-color;
      }

      &-right {
        max-width: 463px;
      }
    }
  }

  &__image-man {
    z-index: 3;
    position: relative;

    &-img {
      position: absolute;
      top: -495px;
      left: -257px;
      width: 840px;
    }
  }

  &__image-car {
    z-index: 3;
    position: relative;

    &-img {
      position: absolute;
      top: -60px;
      left: -617px;
    }
  }
}
