.footer {
  padding: 35px 0 50px 0;
  border-top: 1px solid #000000;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    margin-right: 170px;
    height: 90px;
  }

  &-title {
    font-size: 16px;
    font-family: Roboto-Bold, sans-serif;
    color: $primary-color;
    line-height: 1.313;
    margin-bottom: 20px;
  }

  &__social-links {
    order: 4;
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
  }

  &__link {
    width: 25px;
    height: 25px;
    background-color: #ad9656;
    display: flex;
    justify-content: center;

    &:hover {
      opacity: 0.1;
      transition: 0.35s;
    }

    &:first-child {
      position: relative;

      svg {
        position: absolute;
        bottom: -2px;
        right: -3px;
      }
    }
  }

  .address__inner:hover .address__icon {
    opacity: 0.1;
    transition: 0.35s;
  }

  .time__wrap {
    width: 273px;
    margin-right: 260px;
  }

  .time__block {
    p {
      margin-bottom: 0;
    }

    font-size: 14px;
    font-family: Roboto-Regular, sans-serif;
    color: $primary-color;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .address__wrap {
    max-width: 100%;
  }

  .address__inner {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .contacts__link-footer {
    font-size: 14px;
    margin-left: 10px;
  }
}