.header {
  padding: 25px 0 23px 0;
  border-bottom: 1px solid #000000;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  .menu {
    &__close {
      display: none;
    }

    &__list {
      display: flex;
      width: 715px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      padding-left: 0;
    }

    &__link {
      font: {
        size: 14px;
        family: Roboto-Regular, sans-serif;
      }
      line-height: 1.5;
      color: $primary-color;
      text-transform: uppercase;
    }
  }
}
