@import 'utils/variables';
@import 'utils/fonts';
@import 'utils/reset';
@import 'utils/global';
@import 'utils/mixins';

@import 'components/container';
@import 'components/logo';
@import 'components/button';
@import 'components/title';
@import 'components/loader';
@import 'components/cursor';
@import 'components/button-to-top';

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/description';
@import 'blocks/_callback_&_order-form';
@import 'blocks/rental';
@import 'blocks/advantage';
@import 'blocks/sliders';
@import 'blocks/feedback';
@import 'blocks/contacts';
@import 'blocks/footer';

@import 'utils/adaptive';
