@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Bebas;
  src: url("../fonts/bebas_neue_regular.ttf");
}

@font-face {
  font-family: Cochin;
  src: url("../fonts/Cochin Regular.otf");
}

@font-face {
  font-family: MyriadPro;
  src: url("../fonts/MyriadPro-Regular.otf");
}