$font-main: Roboto-Regular, sans-serif;
$font-bold: Roboto-Bold, sans-serif;

$primary-color: #ffffff;
$accent-color: #f8e5a5;
$accent-yellow: #ffde46;
$accent-orange: #ff9800;
$black-color: #000000;

$active-button-color: #555;
$hover-button-color: #e7761b;

$advantage-color: #fffffe;

$callback-bg-color: rgba(0, 0, 0, 0.8);
$callback__form-bg-color: rgb(24, 25, 26);
$form-line-color: #ffde46ff;
$form-focus-border-color: #e5c36a;

$contact-color: #ebe6e0;


